<h1>Image Library</h1>

<%= link_to 'New image', new_image_path %>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Show</th>
    <th>Tags</th>
  </tr>
  <% @view_model.images.each do |image| %>
    <tr>
      <td><%= image_tag(image.url, class: 'index_image') %></td>
      <td>
        <%= link_to 'Show image', image_path(image) %>
      </td>
      <td>
        <h5>Tags:</h5>
        <ul>
          <% @view_model.image_tags(image).each_with_index do |tag, index| %>
            <li id="tag_<%= index %>">
              <%= link_to tag, "#{images_path}?tag=#{tag}"%>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
