<body>
  <div>
    <%= link_to 'Go back to index', images_path %>
  </div>
  <div>
    <%= link_to 'Delete Image', image_path(@image),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this image?' } %>
  </div>
  <div id="flash_messages">
    <% flash.each do |_, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>

  <div id="image_tags">
    <h4>Tags</h4>
    <ul>
      <% @image.tag_list.each_with_index do |tag, index| %>
        <li id="line_item_<%= index %>"><%= tag %></li>
      <% end %>
    </ul>
  </div>


  <%= image_tag(@image.url) %>
</body>
